In [1]:
import pandas as pd

In [14]:
data = pd.read_csv("testpvnum0/node_1_pv_0_minute.csv",names=['time', 'PVgen', 'netload', 'demand'])

In [20]:
for i in range(1, 38):
    data = pd.read_csv("testpvnum0/node_" + str(i) + "_pv_0_minute.csv",names=['time', 'PVgen', 'netload', 'demand']) 
    data['normdemand'] = data['demand'] / data['demand'].max()
    data.to_csv('testpvnum0/node_'+ str(i) +'_pv_0_minute_normalized.csv')

In [18]:
data

               time  PVgen  netload  demand  normdemand
0     735781.000000    0.0    9.411   9.411    0.407685
1     735781.000694    0.0    8.916   8.916    0.386242
2     735781.001389    0.0    9.962   9.962    0.431554
3     735781.002083    0.0   12.866  12.866    0.557356
4     735781.002778    0.0   14.260  14.260    0.617744
...             ...    ...      ...     ...         ...
1436  735781.997222    0.0    7.490   7.490    0.324467
1437  735781.997917    0.0    6.848   6.848    0.296656
1438  735781.998611    0.0    7.056   7.056    0.305666
1439  735781.999306    0.0    7.616   7.616    0.329925
1440  735782.000000    0.0    5.356   5.356    0.232022

[1441 rows x 5 columns]